// colors
$white: #fff;
$gray-500: #888991;
$gray-600: #7D7D7D;
$gray-800: #262626;
$gray-900: #1B1D29;
$black: #000;
$blue: #0085FF;

// fonts

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Rubik:300,400&subset=cyrillic');

// components

@import "./components/global";

@import "./components/header";
@import "./components/footer";
@import "./components/aside";
@import "./components/content";

@import "./components/services";
